<!DOCTYPE html>
<html>
<head>
	<title>News Article with Pictures</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1>News Article Title</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Opinion</a></li>
				<li><a href="#">Sports</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<h2>Article Title</h2>
			<figure>
				<img src="picture1.jpg" alt="Picture 1">
				<figcaption>Caption for Picture 1</figcaption>
			</figure>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae justo et purus venenatis elementum. Donec a diam sit amet risus sodales bibendum at ac nunc. Morbi faucibus justo vel tortor aliquet consequat. Fusce lacinia risus vitae mauris pulvinar, et rutrum libero mattis. In hac habitasse platea dictumst. Etiam lobortis interdum magna quis tincidunt. Phasellus non lobortis eros. Cras vel felis quam.</p>
			<figure>
				<img src="picture2.jpg" alt="Picture 2">
				<figcaption>Caption for Picture 2</figcaption>
			</figure>
			<p>Nulla ac consequat velit. Vivamus placerat odio in blandit bibendum. Nullam suscipit aliquam nulla at auctor. Ut consequat leo enim, sed elementum magna rutrum vel. Ut semper leo in nunc fermentum faucibus. Praesent commodo, eros quis malesuada ultricies, leo ipsum viverra nibh, eget feugiat quam massa in odio. Praesent pellentesque, quam eget suscipit pretium, odio ipsum tincidunt est, vel bibendum arcu sapien in lectus. Aliquam commodo bibendum enim, vel consequat nulla facilisis id. Etiam euismod, risus vitae feugiat luctus, tortor eros imperdiet nulla, at efficitur ex purus eu sapien. Praesent porta ante nec commodo pellentesque.</p>
		</article>
	</main>
	<footer>
		<p>&copy; 2023 News Company. All rights reserved.</p>
	</footer>
</body>
</html>